<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <div><label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName"></div>
        <div><label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName"></div>
            <div><label for="email">Password</label>
            <input type="text" th:field="*{password}" id="password"></div>
                <div><label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email"></div>
                    <div><input type="submit" value="Add User"></div>
</form></center>

</body>
</html>