<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="firstName">Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Name">
    <label for="lastName">Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Name">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <input type="submit" value="Add User">
</form>

</body>
</html>